body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #B0BEC5;
    background-repeat: no-repeat;
}

.font-weight-bold {
    font-weight: bold;
}

.align-self-center {
    align-self: center;
}

.text-right {
    text-align: right;
}

.height-100 {
    height: 100vh;
}

.height-60 {
    height: 60vh;
}

.padding-top-15 {
    padding-top: 15px;
}

.margin-left-10 {
    margin-left: 10px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px;
}

.card2 {
    margin: 65px 40px 30px 40px;
}

.logo {
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 35px;
}

.image {
    width: 100%;
    height: 100vh;
}

.facebook {
    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.twitter {
    background-color: #1DA1F2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.linkedin {
    background-color: #2867B2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px;
}

.or {
    width: 10%;
    font-weight: bold;
}

.text-sm {
    font-size: 14px !important;
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

a {
    color: inherit;
    cursor: pointer;
}

.btn-blue {
    background-color: #1A237E;
    width: 250px;
    color: #fff;
    border-radius: 2px;
    height: 40px;
    border-radius: 10px;
}

.btn-blue-contrasenia {
    width: 200px !important;
}

.btn-blue:hover {
    background-color: #292e61;
    cursor: pointer;
}

.btn-default {
    background-color: silver;
    width: 200px;
    color: #fff;
    border-radius: 2px;
    height: 40px;
    border-radius: 10px;
}

.btn-default:hover {
    background-color: rgb(145, 143, 143);
    cursor: pointer;
}

.bg-blue {
    color: #fff;
    background-color: #1A237E;
}

.imagen-left {
    display: block;
}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 0px;
    }
    .imagen-left {
        display: none;
    }
    .image {
        width: 300px;
        height: 220px;
    }
    .border-line {
        border-right: none;
    }
    .card2 {
        margin: 0px 15px;
    }
}

.footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.link-underline {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

input[type=checkbox] {
    transform: scale(1.5);
}

.boton-recover-pass {
    padding: 10px 12px 10px 12px;
    ;
}