<div class="bottom-wrapper">
    <div class="tm-bottom-f-box  ">
        <div class="uk-container uk-container-center">
            <section id="tm-bottom-f" class="tm-bottom-f uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                <div class="uk-width-1-1">
                    <div class="uk-panel">
                        <div class="clear"></div>

                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer id="tm-footer" class="tm-footer">
        <div class="uk-panel">
            <div class="uk-container uk-container-center">
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="footer-wrap">
                            <div class="copyrights">Copyright © 2023 <a href="/">Bettics</a>. All Rights Reserved.</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>