.btn-default {
    background-color: silver;
    width: 100%;
    color: #fff;
    border-radius: 2px;
    height: 40px;
    border-radius: 10px;
}

.btn-default:hover {
    background-color: rgb(145, 143, 143);
    cursor: pointer;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.account-item {
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-payment-image {
    height: 20px;
    margin-right: 5px;
}


/* PLAN */

.plan-right {
    text-align: -webkit-center;
}

.container-plan {
    width: 330px;
}

.card-plan {
    /* width: 400px; */
    position: relative;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    PADDING-BOTTOM: 40PX;
    border: none;
}

.p-blue {
    color: #4f84f5;
}

.ribbon {
    width: 150px;
    height: 150px;
    position: absolute;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    height: 30px;
    padding: 6px 0;
    background-color: #812eca;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
}

.ribbon-top-right {
    top: -8px;
    right: -35px;
}

.ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
}

.text-muted {
    font-size: 12px;
}

.fs-10 {
    font-size: 12px;
}

@media (max-width:400px) {
    .container-plan {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ribon {
        width: 95px;
        transform: rotate(0);
        transform-origin: -100% 0;
    }
}

.lbl-no-registrada {
    text-align: center;
    align-self: end;
    font-size: 18px;
    color: #6a5b5b;
}

.lbl-proxima-facturacion {
    font-size: 20px;
    color: #6a5b5b;
}